:root {
    --white: #fafafb;
    --purple:#9a67ea;
    --blue-light:#04d4c3;
    --blue-dark:#2a73c2;
    --green: #2c7b90;
}

*{
    
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(to bottom,var(--purple), var(--blue-light));
    height: 100vh;
}

#enter{
    color: purple;
}

.seccion-tarea li{
    background: linear-gradient(to bottom,var(--blue-dark), var(--green));
}

